# common dependencies
ipykernel
jupyter
ipywidgets
numpy==1.23.5
pandas[excel]
matplotlib
tqdm
fire
protobuf<=3.20.1
nvitop
python-dotenv

# nuclei segmentation dependencies
cellpose==2.2.2
wandb
optuna>=1.4.0
optuna-integration[mlflow]
plotly 
mlflow

# cilia detection dependencies
opencv-python
pillow
astropy
scikit-image
fil_finder
